@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
}
*::-webkit-scrollbar {
  width: 4px;
  background-color: #F5F5F5;
}
*::-webkit-scrollbar-thumb {
  background-color: #080808;
  /* border-radius: px; */
}
*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}


body {
  font-family: 'Fira Code', monospace;
}